/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #111;
    color: #eee;
    line-height: 1.6;
    scroll-behavior: smooth;
}

/* HEADER */
header {
    background-color: #000;
    color: #fff;
    padding: 20px 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px solid #d4af37;
}

.logo img {
    height: 60px;
    border-radius: 10px;
}

.navbar nav ul {
    display: flex;
    gap: 25px;
    list-style: none;
    align-items: center;
}

.navbar nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.1em;
    transition: color 0.3s;
}

.navbar nav ul li a:hover {
    color: #28a745;
}

.navbar .btn {
    margin-left: 20px;
    padding: 10px 15px;
    background-color: #d4af37;
    color: #000;
    border-radius: 5px;
    font-weight: bold;
    text-decoration: none;
    transition: background 0.3s, color 0.3s;
}

.navbar .btn:hover, .prato a:hover, aside button:hover {
    background-color: #c79e2e;
    color: #000;
}

/* INTRO */
.contato-intro {
    font-family: Dancing Script;
    text-align: center;
    padding: 50px 20px;
    background: linear-gradient(to right, #28a745, #fff, #dc3545);
    color: #000;
    font-size: 1.3em;
}

.contato-intro h1 {
    font-size: 2.8em;
    margin-bottom: 10px;
}

.contato-intro p {
    font-size: 1.2em;
}

/* SOBRE - CONTEÚDO */
.sobre-conteudo {
    max-width: 900px;
    margin: 50px auto 80px;
    padding: 0 20px;
    text-align: center;
}

.sobre-conteudo h2 {
    font-size: 2.2em;
    color: #d4af37;
    margin-bottom: 15px;
    text-shadow: 0 0 8px #d4af37;
}

.sobre-conteudo p {
    font-size: 1.15em;
    color: #ccc;
    margin-bottom: 30px;
    text-align: justify;
    line-height: 1.8;
}

/* GALERIA DE FOTOS */
.galeria-fotos img {
    width: 280px;
    border-radius: 10px;
    box-shadow: 0 0 10px #d4af37;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.galeria-fotos img:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px #28a745;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 25px;
    background: #000;
    color: #fff;
    border-top: 3px solid #d4af37;
}

footer a {
    color: #fff;
    margin: 0 5px;
    text-decoration: underline;
    transition: color 0.3s;
}

footer a:hover {
    color: #28a745;
}